* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    height: 25%;
}

main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

footer {
    height: 30%;
    background-color: #7C7C7C;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: transparent;
    font-size: 1.5rem;
}

button:hover{
    color: #000000;
    background-color: #FFFFFF;
}

.blackjackUx {
    width: 100%;
    height: 80%;
    margin: auto;
    background-color: #C5D86D;
}

.blackjackGreeting{
    background-color: #CF5C36;
    color: black;
    text-align: center;
    padding: 3px;
}

.hitButton {
    display: none;
}

.stayButton {
    display: none;
}

.loggerContainer {
    margin: auto;
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.blackjackLogger {
    flex-basis: 40%;
    text-align: center;
}

.infoLogger {
    font-size: 2rem;
}

/* Cards styling */

.tableContainer {
  width: 100%;
  height: 90px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 2px;
}

.handContainer {
  position: relative;
  width: 15%;
}

.card {
  border: 2px solid black;
  border-bottom: 0;
  background-color: lightgrey;
  width: 80px;
  height: 90px;
  padding-left: 30px;
  position: relative;
  top: -2px;
}

.cardContainer {
  margin: 5px 0 0 5px;
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 0;
  top: 0;
}

.suite {
  height: 20px;  
  display: block;  
}

.cardValue {
  text-align: center;
  margin: 5px 0;
}